@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Playfair+Display&display=swap');

.navbar{
    height: 80px;  
    
}
.navbar-brand{
    color: black;
    padding-left: 40px;
    font-weight: bold;
    font-size: 25px;
}

a .logo:hover{
    color: black;
}


.navbar-nav h3{
    
    color: wheat;
    margin:0 auto;
}

   

.box{
    display: flex;
   justify-content: space-evenly;
    margin-top: 150px;
}
h5{
    font-family: 'lora';
    font-weight: bold;
    margin-bottom: 10px;
}
.card .btnn{
    margin-top: 15px;
    background-color: rgb(156, 53, 6);
    font-weight: 600;
    color: white;
    padding: 5px 24px;
    border-radius: 19px;
   
    
   
}

.card .card-body{
    text-align: center;
}
.card-body a{
    text-decoration: none;
   
}